# Fichiers de compilation LaTeX générés
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.vrb
*.gz
*.acn
*.glo
*.ist
*.glsdefs
*.gls
*.glg
*.acr
*.alg
Rapport/Sprint/rapport.pdf
Rapport/Final/_minted-rapport
ProjetProgrammationGroupeV\Rapport\Sprint\rapport.pdf
Cargo.lock
target
A-SABR/exercises
bin
_minted