# Fichiers de compilation LaTeX générés
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.vrb
*.gz
Rapport/Sprint/rapport.pdf
ProjetProgrammationGroupeV\Rapport\Sprint\rapport.pdf
Cargo.lock
target